*settings.json
IC_Test*
IC_*Extra*
.gitignore
Logging*LOG*
.vscode*
*Old.LOG*
*LV_Functions.ahk
eos*
UserSettings.ini
Addons/IC_BrivGemFarm_Performance/IC_BrivGemFarm_Mods.ahk
AddOns/IC_BrivGemFarm_Private/
#AddonManagement Addon ignores
AddOns/GeneratedAddonInclude.ahk
AddOns/IC_Addon_Management/AddonManagement.json
AddOns/SH_Addon_Management/AddonManagement.json
LastGUID*.json
Current*.json